body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:22px;
}
#u11822 {
  position:absolute;
  left:234px;
  top:140px;
  width:236px;
  height:54px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:22px;
}
#u11822_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:22px;
}
#u11822.mouseOver {
}
#u11823 {
  position:absolute;
  left:32px;
  top:16px;
  width:204px;
  white-space:nowrap;
}
#u11824 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11825 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u11826 {
  position:absolute;
  left:731px;
  top:227px;
  width:81px;
  height:35px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u11827 {
  position:absolute;
  left:0px;
  top:5px;
  width:81px;
  white-space:nowrap;
}
#u11828 {
  position:absolute;
  left:822px;
  top:227px;
  width:268px;
  height:35px;
}
#u11828_input {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u11828_input:disabled {
  color:grayText;
}
#u11829 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11830 {
  position:absolute;
  left:374px;
  top:227px;
  width:266px;
  height:35px;
}
#u11830_input {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u11830_input:disabled {
  color:grayText;
}
#u11831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u11831 {
  position:absolute;
  left:271px;
  top:227px;
  width:81px;
  height:35px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u11832 {
  position:absolute;
  left:0px;
  top:5px;
  width:81px;
  white-space:nowrap;
}
#u11833 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11834 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u11835 {
  position:absolute;
  left:1186px;
  top:227px;
  width:81px;
  height:35px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u11836 {
  position:absolute;
  left:0px;
  top:5px;
  width:81px;
  white-space:nowrap;
}
#u11837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(216, 216, 216, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u11837 {
  position:absolute;
  left:1277px;
  top:227px;
  width:272px;
  height:35px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u11838 {
  position:absolute;
  left:32px;
  top:6px;
  width:232px;
  word-wrap:break-word;
}
#u11840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:98px;
  background:inherit;
  background-color:rgba(30, 139, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11840 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:98px;
}
#u11841 {
  position:absolute;
  left:2px;
  top:41px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:center;
}
#u11842 {
  position:absolute;
  left:61px;
  top:35px;
  width:151px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:center;
}
#u11843 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
#u11844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u11844 {
  position:absolute;
  left:16px;
  top:32px;
  width:35px;
  height:35px;
}
#u11845 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u11846 {
  position:absolute;
  left:1026px;
  top:0px;
  width:144px;
  height:99px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u11846_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:99px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 204, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u11846.mouseOver {
}
#u11847 {
  position:absolute;
  left:0px;
  top:40px;
  width:144px;
  word-wrap:break-word;
}
#u11848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u11848 {
  position:absolute;
  left:425px;
  top:0px;
  width:144px;
  height:99px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u11848_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:99px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 204, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u11848.mouseOver {
}
#u11849 {
  position:absolute;
  left:0px;
  top:40px;
  width:144px;
  word-wrap:break-word;
}
#u11850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u11850 {
  position:absolute;
  left:725px;
  top:0px;
  width:144px;
  height:99px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u11850_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:99px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 204, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u11850.mouseOver {
}
#u11851 {
  position:absolute;
  left:0px;
  top:40px;
  width:144px;
  word-wrap:break-word;
}
#u11852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u11852 {
  position:absolute;
  left:575px;
  top:0px;
  width:144px;
  height:99px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u11852_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:99px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 204, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u11852.mouseOver {
}
#u11853 {
  position:absolute;
  left:0px;
  top:40px;
  width:144px;
  word-wrap:break-word;
}
#u11854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u11854 {
  position:absolute;
  left:876px;
  top:0px;
  width:144px;
  height:99px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u11854_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:99px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 204, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u11854.mouseOver {
}
#u11855 {
  position:absolute;
  left:0px;
  top:40px;
  width:144px;
  word-wrap:break-word;
}
#u11856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u11856 {
  position:absolute;
  left:1176px;
  top:0px;
  width:144px;
  height:99px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u11856_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:99px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 204, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u11856.mouseOver {
}
#u11857 {
  position:absolute;
  left:0px;
  top:40px;
  width:144px;
  word-wrap:break-word;
}
#u11858 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u11859 {
  position:absolute;
  left:1800px;
  top:38px;
  width:24px;
  height:24px;
  color:#FFFFFF;
}
#u11860 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:22px;
}
#u11861 {
  position:absolute;
  left:1832px;
  top:39px;
  width:48px;
  height:22px;
  color:#FFFFFF;
  line-height:22px;
}
#u11862 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u11863 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:74px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11864 {
  position:absolute;
  left:1783px;
  top:60px;
  width:117px;
  height:74px;
}
#u11865 {
  position:absolute;
  left:2px;
  top:29px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11866 {
  position:absolute;
  left:1800px;
  top:70px;
  width:57px;
  height:16px;
}
#u11867 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u11868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11868 {
  position:absolute;
  left:1800px;
  top:96px;
  width:29px;
  height:16px;
}
#u11869 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u11871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:1433px;
  background:inherit;
  background-color:rgba(57, 61, 73, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11871 {
  position:absolute;
  left:0px;
  top:98px;
  width:215px;
  height:1433px;
}
#u11872 {
  position:absolute;
  left:2px;
  top:708px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11873 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11874 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#E4E4E4;
}
#u11875 {
  position:absolute;
  left:21px;
  top:174px;
  width:190px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#E4E4E4;
}
#u11875_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#E4E4E4;
}
#u11875.mouseOver {
}
#u11876 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u11877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#E4E4E4;
}
#u11877 {
  position:absolute;
  left:9px;
  top:121px;
  width:214px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#E4E4E4;
}
#u11877_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#E4E4E4;
}
#u11877.mouseOver {
}
#u11878 {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  word-wrap:break-word;
}
#u11879 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#E4E4E4;
}
#u11880 {
  position:absolute;
  left:21px;
  top:214px;
  width:190px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#E4E4E4;
}
#u11880_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#E4E4E4;
}
#u11880.mouseOver {
}
#u11881 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u11882 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:24px;
  background:inherit;
  background-color:rgba(0, 150, 136, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#E4E4E4;
}
#u11883 {
  position:absolute;
  left:21px;
  top:254px;
  width:190px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#E4E4E4;
}
#u11883_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:24px;
  background:inherit;
  background-color:rgba(0, 150, 136, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#E4E4E4;
}
#u11883.mouseOver {
}
#u11884 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u11885 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:32px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u11886 {
  position:absolute;
  left:1409px;
  top:289px;
  width:65px;
  height:32px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u11887 {
  position:absolute;
  left:16px;
  top:5px;
  width:33px;
  white-space:nowrap;
}
#u11888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u11888 {
  position:absolute;
  left:1484px;
  top:289px;
  width:65px;
  height:32px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u11889 {
  position:absolute;
  left:16px;
  top:5px;
  width:33px;
  white-space:nowrap;
}
#u11890 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u11891 {
  position:absolute;
  left:271px;
  top:287px;
  width:81px;
  height:35px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u11892 {
  position:absolute;
  left:0px;
  top:5px;
  width:81px;
  white-space:nowrap;
}
#u11893 {
  position:absolute;
  left:374px;
  top:287px;
  width:268px;
  height:35px;
}
#u11893_input {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u11893_input:disabled {
  color:grayText;
}
#u11894 {
  position:absolute;
  left:291px;
  top:387px;
}
#u11894_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u11894_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1168px;
  height:628px;
}
#u11895 {
  position:absolute;
  left:9px;
  top:7px;
  width:1168px;
  height:628px;
}
#u11896 {
  position:absolute;
  left:2px;
  top:306px;
  width:1164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11894_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u11894_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1160px;
  height:627px;
}
#u11897 {
  position:absolute;
  left:0px;
  top:0px;
  width:1160px;
  height:627px;
}
#u11898 {
  position:absolute;
  left:2px;
  top:306px;
  width:1156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11894_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u11894_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1158px;
  height:627px;
}
#u11899 {
  position:absolute;
  left:0px;
  top:0px;
  width:1158px;
  height:627px;
}
#u11900 {
  position:absolute;
  left:2px;
  top:306px;
  width:1154px;
  visibility:hidden;
  word-wrap:break-word;
}
