body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1943px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:22px;
}
#u11042 {
  position:absolute;
  left:234px;
  top:140px;
  width:200px;
  height:54px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:22px;
}
#u11042_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:22px;
}
#u11042.mouseOver {
}
#u11043 {
  position:absolute;
  left:32px;
  top:16px;
  width:168px;
  white-space:nowrap;
}
#u11044 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11045 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u11046 {
  position:absolute;
  left:657px;
  top:227px;
  width:81px;
  height:35px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u11047 {
  position:absolute;
  left:0px;
  top:5px;
  width:81px;
  white-space:nowrap;
}
#u11048 {
  position:absolute;
  left:748px;
  top:227px;
  width:234px;
  height:35px;
}
#u11048_input {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u11048_input:disabled {
  color:grayText;
}
#u11049 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11050 {
  position:absolute;
  left:362px;
  top:227px;
  width:234px;
  height:35px;
}
#u11050_input {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u11050_input:disabled {
  color:grayText;
}
#u11051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u11051 {
  position:absolute;
  left:271px;
  top:227px;
  width:81px;
  height:35px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u11052 {
  position:absolute;
  left:0px;
  top:5px;
  width:81px;
  white-space:nowrap;
}
#u11053 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11054 {
  position:absolute;
  left:1118px;
  top:227px;
  width:234px;
  height:35px;
}
#u11054_input {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u11054_input:disabled {
  color:grayText;
}
#u11055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u11055 {
  position:absolute;
  left:1059px;
  top:227px;
  width:49px;
  height:35px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u11056 {
  position:absolute;
  left:0px;
  top:5px;
  width:49px;
  white-space:nowrap;
}
#u11057 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#5E5E5E;
}
#u11058 {
  position:absolute;
  left:299px;
  top:395px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#5E5E5E;
}
#u11059 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u11060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#5E5E5E;
}
#u11060 {
  position:absolute;
  left:1157px;
  top:395px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#5E5E5E;
}
#u11061 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u11062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#1296DB;
}
#u11062 {
  position:absolute;
  left:463px;
  top:347px;
  width:23px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#1296DB;
}
#u11063 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  word-wrap:break-word;
}
#u11064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1126px;
  height:2px;
}
#u11064 {
  position:absolute;
  left:272px;
  top:442px;
  width:1125px;
  height:1px;
}
#u11065 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1126px;
  height:2px;
}
#u11066 {
  position:absolute;
  left:272px;
  top:312px;
  width:1125px;
  height:1px;
}
#u11067 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:131px;
}
#u11068 {
  position:absolute;
  left:558px;
  top:312px;
  width:1px;
  height:130px;
}
#u11069 {
  position:absolute;
  left:2px;
  top:57px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:131px;
}
#u11070 {
  position:absolute;
  left:844px;
  top:312px;
  width:1px;
  height:130px;
}
#u11071 {
  position:absolute;
  left:2px;
  top:57px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:131px;
}
#u11072 {
  position:absolute;
  left:1130px;
  top:312px;
  width:1px;
  height:130px;
}
#u11073 {
  position:absolute;
  left:2px;
  top:57px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:131px;
}
#u11074 {
  position:absolute;
  left:1396px;
  top:312px;
  width:1px;
  height:130px;
}
#u11075 {
  position:absolute;
  left:2px;
  top:57px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#5E5E5E;
}
#u11076 {
  position:absolute;
  left:589px;
  top:395px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#5E5E5E;
}
#u11077 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u11078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#E16531;
}
#u11078 {
  position:absolute;
  left:753px;
  top:347px;
  width:100px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#E16531;
}
#u11079 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u11080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#5E5E5E;
}
#u11080 {
  position:absolute;
  left:871px;
  top:395px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#5E5E5E;
}
#u11081 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u11082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#0E932E;
}
#u11082 {
  position:absolute;
  left:1035px;
  top:347px;
  width:79px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#0E932E;
}
#u11083 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u11084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#D81E06;
}
#u11084 {
  position:absolute;
  left:1334px;
  top:347px;
  width:79px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#D81E06;
}
#u11085 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u11086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:131px;
}
#u11086 {
  position:absolute;
  left:272px;
  top:312px;
  width:1px;
  height:130px;
}
#u11087 {
  position:absolute;
  left:2px;
  top:57px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u11088 {
  position:absolute;
  left:299px;
  top:344px;
  width:35px;
  height:35px;
}
#u11089 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u11090 {
  position:absolute;
  left:589px;
  top:344px;
  width:35px;
  height:35px;
}
#u11091 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u11092 {
  position:absolute;
  left:871px;
  top:345px;
  width:35px;
  height:35px;
}
#u11093 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u11094 {
  position:absolute;
  left:1157px;
  top:345px;
  width:35px;
  height:35px;
}
#u11095 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  height:285px;
}
#u11096 {
  position:absolute;
  left:267px;
  top:562px;
  width:487px;
  height:285px;
}
#u11097 {
  position:absolute;
  left:2px;
  top:134px;
  width:483px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u11098 {
  position:absolute;
  left:258px;
  top:503px;
  width:141px;
  height:24px;
  font-size:20px;
}
#u11099 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u11100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u11100 {
  position:absolute;
  left:903px;
  top:503px;
  width:141px;
  height:24px;
  font-size:20px;
}
#u11101 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u11102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1030px;
  height:496px;
}
#u11102 {
  position:absolute;
  left:913px;
  top:562px;
  width:1030px;
  height:496px;
}
#u11103 {
  position:absolute;
  left:2px;
  top:240px;
  width:1026px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:98px;
  background:inherit;
  background-color:rgba(30, 139, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11105 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:98px;
}
#u11106 {
  position:absolute;
  left:2px;
  top:41px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:center;
}
#u11107 {
  position:absolute;
  left:61px;
  top:35px;
  width:151px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:center;
}
#u11108 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
#u11109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u11109 {
  position:absolute;
  left:16px;
  top:32px;
  width:35px;
  height:35px;
}
#u11110 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u11111 {
  position:absolute;
  left:1026px;
  top:0px;
  width:144px;
  height:99px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u11111_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:99px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 204, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u11111.mouseOver {
}
#u11112 {
  position:absolute;
  left:0px;
  top:40px;
  width:144px;
  word-wrap:break-word;
}
#u11113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u11113 {
  position:absolute;
  left:425px;
  top:0px;
  width:144px;
  height:99px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u11113_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:99px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 204, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u11113.mouseOver {
}
#u11114 {
  position:absolute;
  left:0px;
  top:40px;
  width:144px;
  word-wrap:break-word;
}
#u11115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u11115 {
  position:absolute;
  left:725px;
  top:0px;
  width:144px;
  height:99px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u11115_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:99px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 204, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u11115.mouseOver {
}
#u11116 {
  position:absolute;
  left:0px;
  top:40px;
  width:144px;
  word-wrap:break-word;
}
#u11117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u11117 {
  position:absolute;
  left:575px;
  top:0px;
  width:144px;
  height:99px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u11117_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:99px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 204, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u11117.mouseOver {
}
#u11118 {
  position:absolute;
  left:0px;
  top:40px;
  width:144px;
  word-wrap:break-word;
}
#u11119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u11119 {
  position:absolute;
  left:876px;
  top:0px;
  width:144px;
  height:99px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u11119_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:99px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 204, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u11119.mouseOver {
}
#u11120 {
  position:absolute;
  left:0px;
  top:40px;
  width:144px;
  word-wrap:break-word;
}
#u11121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u11121 {
  position:absolute;
  left:1176px;
  top:0px;
  width:144px;
  height:99px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u11121_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:99px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 204, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u11121.mouseOver {
}
#u11122 {
  position:absolute;
  left:0px;
  top:40px;
  width:144px;
  word-wrap:break-word;
}
#u11123 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u11124 {
  position:absolute;
  left:1800px;
  top:38px;
  width:24px;
  height:24px;
  color:#FFFFFF;
}
#u11125 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:22px;
}
#u11126 {
  position:absolute;
  left:1832px;
  top:39px;
  width:48px;
  height:22px;
  color:#FFFFFF;
  line-height:22px;
}
#u11127 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u11128 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:74px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11129 {
  position:absolute;
  left:1783px;
  top:60px;
  width:117px;
  height:74px;
}
#u11130 {
  position:absolute;
  left:2px;
  top:29px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11131 {
  position:absolute;
  left:1800px;
  top:70px;
  width:57px;
  height:16px;
}
#u11132 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u11133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11133 {
  position:absolute;
  left:1800px;
  top:96px;
  width:29px;
  height:16px;
}
#u11134 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u11136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:1433px;
  background:inherit;
  background-color:rgba(57, 61, 73, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11136 {
  position:absolute;
  left:0px;
  top:98px;
  width:215px;
  height:1433px;
}
#u11137 {
  position:absolute;
  left:2px;
  top:708px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11138 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11139 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:24px;
  background:inherit;
  background-color:rgba(0, 150, 136, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#E4E4E4;
}
#u11140 {
  position:absolute;
  left:21px;
  top:174px;
  width:190px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#E4E4E4;
}
#u11140_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:24px;
  background:inherit;
  background-color:rgba(0, 150, 136, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#E4E4E4;
}
#u11140.mouseOver {
}
#u11141 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u11142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#E4E4E4;
}
#u11142 {
  position:absolute;
  left:9px;
  top:121px;
  width:214px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#E4E4E4;
}
#u11142_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#E4E4E4;
}
#u11142.mouseOver {
}
#u11143 {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  word-wrap:break-word;
}
#u11144 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#E4E4E4;
}
#u11145 {
  position:absolute;
  left:21px;
  top:214px;
  width:190px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#E4E4E4;
}
#u11145_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#E4E4E4;
}
#u11145.mouseOver {
}
#u11146 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u11147 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#E4E4E4;
}
#u11148 {
  position:absolute;
  left:21px;
  top:254px;
  width:190px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#E4E4E4;
}
#u11148_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#E4E4E4;
}
#u11148.mouseOver {
}
#u11149 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u11150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:32px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u11150 {
  position:absolute;
  left:1439px;
  top:227px;
  width:65px;
  height:32px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u11151 {
  position:absolute;
  left:16px;
  top:5px;
  width:33px;
  white-space:nowrap;
}
#u11152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u11152 {
  position:absolute;
  left:1514px;
  top:227px;
  width:65px;
  height:32px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u11153 {
  position:absolute;
  left:16px;
  top:5px;
  width:33px;
  white-space:nowrap;
}
#u11154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11154 {
  position:absolute;
  left:355px;
  top:678px;
  width:67px;
  height:16px;
}
#u11155 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u11156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11156 {
  position:absolute;
  left:401px;
  top:606px;
  width:21px;
  height:16px;
}
#u11157 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u11158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11158 {
  position:absolute;
  left:457px;
  top:678px;
  width:29px;
  height:16px;
}
#u11159 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u11160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11160 {
  position:absolute;
  left:368px;
  top:766px;
  width:29px;
  height:16px;
}
#u11161 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u11162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11162 {
  position:absolute;
  left:313px;
  top:727px;
  width:21px;
  height:16px;
}
#u11163 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u11164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11164 {
  position:absolute;
  left:299px;
  top:697px;
  width:21px;
  height:16px;
}
#u11165 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u11166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11166 {
  position:absolute;
  left:325px;
  top:626px;
  width:29px;
  height:16px;
}
#u11167 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
