body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:22px;
}
#u11901 {
  position:absolute;
  left:234px;
  top:140px;
  width:236px;
  height:54px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:22px;
}
#u11901_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:22px;
}
#u11901.mouseOver {
}
#u11902 {
  position:absolute;
  left:32px;
  top:16px;
  width:204px;
  white-space:nowrap;
}
#u11903 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11904 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u11905 {
  position:absolute;
  left:731px;
  top:227px;
  width:81px;
  height:35px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u11906 {
  position:absolute;
  left:0px;
  top:5px;
  width:81px;
  white-space:nowrap;
}
#u11907 {
  position:absolute;
  left:822px;
  top:227px;
  width:268px;
  height:35px;
}
#u11907_input {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u11907_input:disabled {
  color:grayText;
}
#u11908 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11909 {
  position:absolute;
  left:374px;
  top:227px;
  width:266px;
  height:35px;
}
#u11909_input {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u11909_input:disabled {
  color:grayText;
}
#u11910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u11910 {
  position:absolute;
  left:271px;
  top:227px;
  width:81px;
  height:35px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u11911 {
  position:absolute;
  left:0px;
  top:5px;
  width:81px;
  white-space:nowrap;
}
#u11912 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11913 {
  position:absolute;
  left:1234px;
  top:227px;
  width:276px;
  height:35px;
}
#u11913_input {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u11913_input:disabled {
  color:grayText;
}
#u11914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u11914 {
  position:absolute;
  left:1175px;
  top:227px;
  width:49px;
  height:35px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u11915 {
  position:absolute;
  left:0px;
  top:5px;
  width:49px;
  white-space:nowrap;
}
#u11916 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11917 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u11918 {
  position:absolute;
  left:303px;
  top:282px;
  width:49px;
  height:35px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u11919 {
  position:absolute;
  left:0px;
  top:5px;
  width:49px;
  white-space:nowrap;
}
#u11920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(216, 216, 216, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u11920 {
  position:absolute;
  left:368px;
  top:284px;
  width:272px;
  height:35px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u11921 {
  position:absolute;
  left:32px;
  top:6px;
  width:232px;
  word-wrap:break-word;
}
#u11922 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#5E5E5E;
}
#u11923 {
  position:absolute;
  left:282px;
  top:488px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#5E5E5E;
}
#u11924 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u11925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#5E5E5E;
}
#u11925 {
  position:absolute;
  left:1017px;
  top:488px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#5E5E5E;
}
#u11926 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u11927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#7AC76D;
}
#u11927 {
  position:absolute;
  left:425px;
  top:440px;
  width:20px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#7AC76D;
}
#u11928 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u11929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1246px;
  height:2px;
}
#u11929 {
  position:absolute;
  left:247px;
  top:535px;
  width:1245px;
  height:1px;
}
#u11930 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1241px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1246px;
  height:2px;
}
#u11931 {
  position:absolute;
  left:247px;
  top:405px;
  width:1245px;
  height:1px;
}
#u11932 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1241px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:131px;
}
#u11933 {
  position:absolute;
  left:464px;
  top:405px;
  width:1px;
  height:130px;
}
#u11934 {
  position:absolute;
  left:2px;
  top:57px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:131px;
}
#u11935 {
  position:absolute;
  left:724px;
  top:405px;
  width:1px;
  height:130px;
}
#u11936 {
  position:absolute;
  left:2px;
  top:57px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:131px;
}
#u11937 {
  position:absolute;
  left:986px;
  top:405px;
  width:1px;
  height:130px;
}
#u11938 {
  position:absolute;
  left:2px;
  top:57px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:131px;
}
#u11939 {
  position:absolute;
  left:1240px;
  top:405px;
  width:1px;
  height:130px;
}
#u11940 {
  position:absolute;
  left:2px;
  top:57px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#5E5E5E;
}
#u11941 {
  position:absolute;
  left:494px;
  top:488px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#5E5E5E;
}
#u11942 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u11943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#E0620D;
}
#u11943 {
  position:absolute;
  left:637px;
  top:440px;
  width:87px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#E0620D;
}
#u11944 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u11945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#5E5E5E;
}
#u11945 {
  position:absolute;
  left:756px;
  top:488px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#5E5E5E;
}
#u11946 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u11947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#7AC76D;
}
#u11947 {
  position:absolute;
  left:899px;
  top:440px;
  width:69px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#7AC76D;
}
#u11948 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u11949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#E0620D;
}
#u11949 {
  position:absolute;
  left:1172px;
  top:440px;
  width:69px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#E0620D;
}
#u11950 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u11951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#5E5E5E;
}
#u11951 {
  position:absolute;
  left:1268px;
  top:488px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#5E5E5E;
}
#u11952 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u11953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FF0000;
}
#u11953 {
  position:absolute;
  left:1423px;
  top:440px;
  width:69px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FF0000;
}
#u11954 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u11955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u11955 {
  position:absolute;
  left:282px;
  top:440px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u11956 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u11957 {
  position:absolute;
  left:494px;
  top:440px;
  width:30px;
  height:30px;
}
#u11958 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u11959 {
  position:absolute;
  left:756px;
  top:440px;
  width:30px;
  height:30px;
}
#u11960 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u11961 {
  position:absolute;
  left:1017px;
  top:440px;
  width:30px;
  height:30px;
}
#u11962 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u11963 {
  position:absolute;
  left:1268px;
  top:440px;
  width:30px;
  height:30px;
}
#u11964 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:131px;
}
#u11965 {
  position:absolute;
  left:247px;
  top:405px;
  width:1px;
  height:130px;
}
#u11966 {
  position:absolute;
  left:2px;
  top:57px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:131px;
}
#u11967 {
  position:absolute;
  left:1491px;
  top:405px;
  width:1px;
  height:130px;
}
#u11968 {
  position:absolute;
  left:2px;
  top:57px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11969 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  height:285px;
}
#u11970 {
  position:absolute;
  left:267px;
  top:627px;
  width:487px;
  height:285px;
}
#u11971 {
  position:absolute;
  left:2px;
  top:134px;
  width:483px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u11972 {
  position:absolute;
  left:258px;
  top:568px;
  width:121px;
  height:24px;
  font-size:20px;
}
#u11973 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u11975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:98px;
  background:inherit;
  background-color:rgba(30, 139, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11975 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:98px;
}
#u11976 {
  position:absolute;
  left:2px;
  top:41px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:center;
}
#u11977 {
  position:absolute;
  left:61px;
  top:35px;
  width:151px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:center;
}
#u11978 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
#u11979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u11979 {
  position:absolute;
  left:16px;
  top:32px;
  width:35px;
  height:35px;
}
#u11980 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u11981 {
  position:absolute;
  left:1026px;
  top:0px;
  width:144px;
  height:99px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u11981_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:99px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 204, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u11981.mouseOver {
}
#u11982 {
  position:absolute;
  left:0px;
  top:40px;
  width:144px;
  word-wrap:break-word;
}
#u11983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u11983 {
  position:absolute;
  left:425px;
  top:0px;
  width:144px;
  height:99px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u11983_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:99px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 204, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u11983.mouseOver {
}
#u11984 {
  position:absolute;
  left:0px;
  top:40px;
  width:144px;
  word-wrap:break-word;
}
#u11985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u11985 {
  position:absolute;
  left:725px;
  top:0px;
  width:144px;
  height:99px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u11985_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:99px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 204, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u11985.mouseOver {
}
#u11986 {
  position:absolute;
  left:0px;
  top:40px;
  width:144px;
  word-wrap:break-word;
}
#u11987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u11987 {
  position:absolute;
  left:575px;
  top:0px;
  width:144px;
  height:99px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u11987_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:99px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 204, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u11987.mouseOver {
}
#u11988 {
  position:absolute;
  left:0px;
  top:40px;
  width:144px;
  word-wrap:break-word;
}
#u11989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u11989 {
  position:absolute;
  left:876px;
  top:0px;
  width:144px;
  height:99px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u11989_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:99px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 204, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u11989.mouseOver {
}
#u11990 {
  position:absolute;
  left:0px;
  top:40px;
  width:144px;
  word-wrap:break-word;
}
#u11991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u11991 {
  position:absolute;
  left:1176px;
  top:0px;
  width:144px;
  height:99px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u11991_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:99px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 204, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u11991.mouseOver {
}
#u11992 {
  position:absolute;
  left:0px;
  top:40px;
  width:144px;
  word-wrap:break-word;
}
#u11993 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u11994 {
  position:absolute;
  left:1800px;
  top:38px;
  width:24px;
  height:24px;
  color:#FFFFFF;
}
#u11995 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:22px;
}
#u11996 {
  position:absolute;
  left:1832px;
  top:39px;
  width:48px;
  height:22px;
  color:#FFFFFF;
  line-height:22px;
}
#u11997 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u11998 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:74px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11999 {
  position:absolute;
  left:1783px;
  top:60px;
  width:117px;
  height:74px;
}
#u12000 {
  position:absolute;
  left:2px;
  top:29px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12001 {
  position:absolute;
  left:1800px;
  top:70px;
  width:57px;
  height:16px;
}
#u12002 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12003 {
  position:absolute;
  left:1800px;
  top:96px;
  width:29px;
  height:16px;
}
#u12004 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12005 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  height:285px;
}
#u12006 {
  position:absolute;
  left:905px;
  top:627px;
  width:487px;
  height:285px;
}
#u12007 {
  position:absolute;
  left:2px;
  top:134px;
  width:483px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u12008 {
  position:absolute;
  left:896px;
  top:568px;
  width:121px;
  height:24px;
  font-size:20px;
}
#u12009 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u12010 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  height:285px;
}
#u12011 {
  position:absolute;
  left:905px;
  top:1037px;
  width:487px;
  height:285px;
}
#u12012 {
  position:absolute;
  left:2px;
  top:134px;
  width:483px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u12013 {
  position:absolute;
  left:896px;
  top:978px;
  width:121px;
  height:24px;
  font-size:20px;
}
#u12014 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u12015 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  height:285px;
}
#u12016 {
  position:absolute;
  left:267px;
  top:1037px;
  width:487px;
  height:285px;
}
#u12017 {
  position:absolute;
  left:2px;
  top:134px;
  width:483px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u12018 {
  position:absolute;
  left:258px;
  top:978px;
  width:121px;
  height:24px;
  font-size:20px;
}
#u12019 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u12020 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  height:285px;
}
#u12021 {
  position:absolute;
  left:267px;
  top:1484px;
  width:487px;
  height:285px;
}
#u12022 {
  position:absolute;
  left:2px;
  top:134px;
  width:483px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u12023 {
  position:absolute;
  left:258px;
  top:1425px;
  width:121px;
  height:24px;
  font-size:20px;
}
#u12024 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u12025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u12025 {
  position:absolute;
  left:247px;
  top:360px;
  width:111px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u12026 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u12027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u12027 {
  position:absolute;
  left:434px;
  top:360px;
  width:141px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u12028 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u12030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:1433px;
  background:inherit;
  background-color:rgba(57, 61, 73, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12030 {
  position:absolute;
  left:0px;
  top:98px;
  width:215px;
  height:1433px;
}
#u12031 {
  position:absolute;
  left:2px;
  top:708px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12032 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12033 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#E4E4E4;
}
#u12034 {
  position:absolute;
  left:21px;
  top:174px;
  width:190px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#E4E4E4;
}
#u12034_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#E4E4E4;
}
#u12034.mouseOver {
}
#u12035 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u12036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#E4E4E4;
}
#u12036 {
  position:absolute;
  left:9px;
  top:121px;
  width:214px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#E4E4E4;
}
#u12036_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#E4E4E4;
}
#u12036.mouseOver {
}
#u12037 {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  word-wrap:break-word;
}
#u12038 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#E4E4E4;
}
#u12039 {
  position:absolute;
  left:21px;
  top:214px;
  width:190px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#E4E4E4;
}
#u12039_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#E4E4E4;
}
#u12039.mouseOver {
}
#u12040 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u12041 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:24px;
  background:inherit;
  background-color:rgba(0, 150, 136, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#E4E4E4;
}
#u12042 {
  position:absolute;
  left:21px;
  top:254px;
  width:190px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#E4E4E4;
}
#u12042_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:24px;
  background:inherit;
  background-color:rgba(0, 150, 136, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#E4E4E4;
}
#u12042.mouseOver {
}
#u12043 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u12044 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:32px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u12045 {
  position:absolute;
  left:1295px;
  top:287px;
  width:65px;
  height:32px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u12046 {
  position:absolute;
  left:16px;
  top:5px;
  width:33px;
  white-space:nowrap;
}
#u12047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u12047 {
  position:absolute;
  left:1370px;
  top:287px;
  width:65px;
  height:32px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u12048 {
  position:absolute;
  left:16px;
  top:5px;
  width:33px;
  white-space:nowrap;
}
#u12049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:32px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u12049 {
  position:absolute;
  left:1445px;
  top:287px;
  width:65px;
  height:32px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u12050 {
  position:absolute;
  left:16px;
  top:5px;
  width:33px;
  white-space:nowrap;
}
