body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9826 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9827 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:32px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u9828 {
  position:absolute;
  left:1097px;
  top:219px;
  width:65px;
  height:32px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u9829 {
  position:absolute;
  left:16px;
  top:5px;
  width:33px;
  white-space:nowrap;
}
#u9830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u9830 {
  position:absolute;
  left:1172px;
  top:219px;
  width:65px;
  height:32px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u9831 {
  position:absolute;
  left:16px;
  top:5px;
  width:33px;
  white-space:nowrap;
}
#u9832 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9833 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:35px;
}
#u9834 {
  position:absolute;
  left:268px;
  top:219px;
  width:65px;
  height:35px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u9835 {
  position:absolute;
  left:0px;
  top:5px;
  width:65px;
  white-space:nowrap;
}
#u9836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u9836 {
  position:absolute;
  left:341px;
  top:219px;
  width:21px;
  height:35px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u9837 {
  position:absolute;
  left:4px;
  top:5px;
  width:17px;
  white-space:nowrap;
}
#u9838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u9838 {
  position:absolute;
  left:362px;
  top:219px;
  width:240px;
  height:32px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u9839 {
  position:absolute;
  left:12px;
  top:5px;
  width:228px;
  word-wrap:break-word;
}
#u9840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.427450980392157);
  line-height:22px;
}
#u9840 {
  position:absolute;
  left:362px;
  top:251px;
  width:240px;
  height:24px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.427450980392157);
  line-height:22px;
}
#u9841 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u9842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:22px;
}
#u9842 {
  position:absolute;
  left:234px;
  top:140px;
  width:200px;
  height:54px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:22px;
}
#u9842_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:22px;
}
#u9842.mouseOver {
}
#u9843 {
  position:absolute;
  left:32px;
  top:16px;
  width:168px;
  white-space:nowrap;
}
#u9844 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9845 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u9846 {
  position:absolute;
  left:668px;
  top:214px;
  width:81px;
  height:35px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u9847 {
  position:absolute;
  left:0px;
  top:5px;
  width:81px;
  white-space:nowrap;
}
#u9848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(216, 216, 216, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u9848 {
  position:absolute;
  left:759px;
  top:216px;
  width:296px;
  height:35px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u9849 {
  position:absolute;
  left:32px;
  top:6px;
  width:256px;
  word-wrap:break-word;
}
#u9850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:607px;
  height:635px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9850 {
  position:absolute;
  left:268px;
  top:285px;
  width:607px;
  height:635px;
}
#u9851 {
  position:absolute;
  left:2px;
  top:310px;
  width:603px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:2px;
}
#u9852 {
  position:absolute;
  left:268px;
  top:328px;
  width:607px;
  height:1px;
}
#u9853 {
  position:absolute;
  left:2px;
  top:-8px;
  width:603px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:2px;
}
#u9854 {
  position:absolute;
  left:268px;
  top:377px;
  width:607px;
  height:1px;
}
#u9855 {
  position:absolute;
  left:2px;
  top:-8px;
  width:603px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:2px;
}
#u9856 {
  position:absolute;
  left:268px;
  top:722px;
  width:607px;
  height:1px;
}
#u9857 {
  position:absolute;
  left:2px;
  top:-8px;
  width:603px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:2px;
}
#u9858 {
  position:absolute;
  left:268px;
  top:476px;
  width:607px;
  height:1px;
}
#u9859 {
  position:absolute;
  left:2px;
  top:-8px;
  width:603px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:2px;
}
#u9860 {
  position:absolute;
  left:268px;
  top:574px;
  width:607px;
  height:1px;
}
#u9861 {
  position:absolute;
  left:2px;
  top:-8px;
  width:603px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:2px;
}
#u9862 {
  position:absolute;
  left:268px;
  top:525px;
  width:607px;
  height:1px;
}
#u9863 {
  position:absolute;
  left:2px;
  top:-8px;
  width:603px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:2px;
}
#u9864 {
  position:absolute;
  left:268px;
  top:624px;
  width:607px;
  height:1px;
}
#u9865 {
  position:absolute;
  left:2px;
  top:-8px;
  width:603px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:2px;
}
#u9866 {
  position:absolute;
  left:281px;
  top:668px;
  width:607px;
  height:1px;
}
#u9867 {
  position:absolute;
  left:2px;
  top:-8px;
  width:603px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:2px;
}
#u9868 {
  position:absolute;
  left:268px;
  top:427px;
  width:607px;
  height:1px;
}
#u9869 {
  position:absolute;
  left:2px;
  top:-8px;
  width:603px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:2px;
}
#u9870 {
  position:absolute;
  left:268px;
  top:771px;
  width:607px;
  height:1px;
}
#u9871 {
  position:absolute;
  left:2px;
  top:-8px;
  width:603px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:2px;
}
#u9872 {
  position:absolute;
  left:268px;
  top:820px;
  width:607px;
  height:1px;
}
#u9873 {
  position:absolute;
  left:2px;
  top:-8px;
  width:603px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:2px;
}
#u9874 {
  position:absolute;
  left:268px;
  top:870px;
  width:607px;
  height:1px;
}
#u9875 {
  position:absolute;
  left:2px;
  top:-8px;
  width:603px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:2px;
}
#u9876 {
  position:absolute;
  left:268px;
  top:919px;
  width:607px;
  height:1px;
}
#u9877 {
  position:absolute;
  left:2px;
  top:-8px;
  width:603px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#AEAEAE;
}
#u9878 {
  position:absolute;
  left:281px;
  top:299px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#AEAEAE;
}
#u9879 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u9880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:19px;
}
#u9880 {
  position:absolute;
  left:372px;
  top:299px;
  width:14px;
  height:19px;
}
#u9881 {
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#AEAEAE;
}
#u9882 {
  position:absolute;
  left:396px;
  top:299px;
  width:57px;
  height:19px;
  font-size:16px;
  color:#AEAEAE;
}
#u9883 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u9884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u9884 {
  position:absolute;
  left:289px;
  top:345px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u9885 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u9886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u9886 {
  position:absolute;
  left:443px;
  top:345px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u9887 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u9888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u9888 {
  position:absolute;
  left:701px;
  top:345px;
  width:76px;
  height:19px;
  font-size:16px;
}
#u9889 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u9890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u9890 {
  position:absolute;
  left:289px;
  top:447px;
  width:81px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u9891 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u9892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u9892 {
  position:absolute;
  left:289px;
  top:496px;
  width:81px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u9893 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u9894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u9894 {
  position:absolute;
  left:289px;
  top:545px;
  width:81px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u9895 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u9896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u9896 {
  position:absolute;
  left:443px;
  top:447px;
  width:97px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u9897 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u9898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u9898 {
  position:absolute;
  left:443px;
  top:496px;
  width:97px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u9899 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u9900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u9900 {
  position:absolute;
  left:443px;
  top:545px;
  width:97px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u9901 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u9902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF0000;
}
#u9902 {
  position:absolute;
  left:701px;
  top:447px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u9903 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u9904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u9904 {
  position:absolute;
  left:701px;
  top:496px;
  width:66px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u9905 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u9906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF0000;
}
#u9906 {
  position:absolute;
  left:701px;
  top:545px;
  width:66px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u9907 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u9908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:607px;
  height:51px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9908 {
  position:absolute;
  left:268px;
  top:377px;
  width:607px;
  height:51px;
}
#u9909 {
  position:absolute;
  left:2px;
  top:18px;
  width:603px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u9910 {
  position:absolute;
  left:289px;
  top:590px;
  width:81px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u9911 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u9912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u9912 {
  position:absolute;
  left:443px;
  top:590px;
  width:97px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u9913 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u9914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u9914 {
  position:absolute;
  left:701px;
  top:590px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u9915 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u9916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u9916 {
  position:absolute;
  left:289px;
  top:398px;
  width:81px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u9917 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u9918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u9918 {
  position:absolute;
  left:443px;
  top:398px;
  width:97px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u9919 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u9920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u9920 {
  position:absolute;
  left:701px;
  top:398px;
  width:66px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u9921 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u9922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:716px;
  height:635px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9922 {
  position:absolute;
  left:875px;
  top:285px;
  width:716px;
  height:635px;
}
#u9923 {
  position:absolute;
  left:2px;
  top:310px;
  width:712px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:716px;
  height:93px;
  background:inherit;
  background-color:rgba(0, 204, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9924 {
  position:absolute;
  left:875px;
  top:285px;
  width:716px;
  height:93px;
}
#u9925 {
  position:absolute;
  left:2px;
  top:38px;
  width:712px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u9926 {
  position:absolute;
  left:892px;
  top:299px;
  width:109px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u9927 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u9928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u9928 {
  position:absolute;
  left:892px;
  top:342px;
  width:161px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u9929 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u9930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u9930 {
  position:absolute;
  left:1403px;
  top:299px;
  width:37px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u9931 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u9932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u9932 {
  position:absolute;
  left:1475px;
  top:299px;
  width:37px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u9933 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u9934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u9934 {
  position:absolute;
  left:1403px;
  top:338px;
  width:49px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
}
#u9935 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u9936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u9936 {
  position:absolute;
  left:1475px;
  top:338px;
  width:49px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
}
#u9937 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u9938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:717px;
  height:2px;
}
#u9938 {
  position:absolute;
  left:875px;
  top:465px;
  width:716px;
  height:1px;
}
#u9939 {
  position:absolute;
  left:2px;
  top:-8px;
  width:712px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:717px;
  height:2px;
}
#u9940 {
  position:absolute;
  left:875px;
  top:563px;
  width:716px;
  height:1px;
}
#u9941 {
  position:absolute;
  left:2px;
  top:-8px;
  width:712px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:717px;
  height:2px;
}
#u9942 {
  position:absolute;
  left:875px;
  top:657px;
  width:716px;
  height:1px;
}
#u9943 {
  position:absolute;
  left:2px;
  top:-8px;
  width:712px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:717px;
  height:2px;
}
#u9944 {
  position:absolute;
  left:875px;
  top:750px;
  width:716px;
  height:1px;
}
#u9945 {
  position:absolute;
  left:2px;
  top:-8px;
  width:712px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9946 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:67px;
}
#u9947 {
  position:absolute;
  left:885px;
  top:388px;
  width:97px;
  height:67px;
}
#u9948 {
  position:absolute;
  left:2px;
  top:26px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#666666;
}
#u9949 {
  position:absolute;
  left:992px;
  top:388px;
  width:91px;
  height:22px;
  font-size:18px;
  color:#666666;
}
#u9950 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u9951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u9951 {
  position:absolute;
  left:992px;
  top:417px;
  width:75px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u9952 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u9953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u9953 {
  position:absolute;
  left:992px;
  top:436px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u9954 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u9955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u9955 {
  position:absolute;
  left:1349px;
  top:390px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u9956 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u9957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u9957 {
  position:absolute;
  left:1466px;
  top:390px;
  width:49px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u9958 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u9959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
}
#u9959 {
  position:absolute;
  left:1349px;
  top:427px;
  width:23px;
  height:24px;
  font-size:20px;
  color:#666666;
}
#u9960 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u9961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
}
#u9961 {
  position:absolute;
  left:1466px;
  top:427px;
  width:23px;
  height:24px;
  font-size:20px;
  color:#666666;
}
#u9962 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u9963 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:67px;
}
#u9964 {
  position:absolute;
  left:885px;
  top:476px;
  width:97px;
  height:67px;
}
#u9965 {
  position:absolute;
  left:2px;
  top:26px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#666666;
}
#u9966 {
  position:absolute;
  left:992px;
  top:476px;
  width:91px;
  height:22px;
  font-size:18px;
  color:#666666;
}
#u9967 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u9968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u9968 {
  position:absolute;
  left:992px;
  top:505px;
  width:75px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u9969 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u9970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u9970 {
  position:absolute;
  left:992px;
  top:524px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u9971 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u9972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u9972 {
  position:absolute;
  left:1349px;
  top:478px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u9973 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u9974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u9974 {
  position:absolute;
  left:1466px;
  top:478px;
  width:49px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u9975 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u9976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
}
#u9976 {
  position:absolute;
  left:1349px;
  top:515px;
  width:23px;
  height:24px;
  font-size:20px;
  color:#666666;
}
#u9977 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u9978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
}
#u9978 {
  position:absolute;
  left:1466px;
  top:515px;
  width:23px;
  height:24px;
  font-size:20px;
  color:#666666;
}
#u9979 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u9980 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:67px;
}
#u9981 {
  position:absolute;
  left:885px;
  top:574px;
  width:97px;
  height:67px;
}
#u9982 {
  position:absolute;
  left:2px;
  top:26px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#666666;
}
#u9983 {
  position:absolute;
  left:992px;
  top:574px;
  width:91px;
  height:22px;
  font-size:18px;
  color:#666666;
}
#u9984 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u9985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u9985 {
  position:absolute;
  left:992px;
  top:603px;
  width:75px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u9986 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u9987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u9987 {
  position:absolute;
  left:992px;
  top:622px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u9988 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u9989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u9989 {
  position:absolute;
  left:1349px;
  top:576px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u9990 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u9991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u9991 {
  position:absolute;
  left:1466px;
  top:576px;
  width:49px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u9992 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u9993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
}
#u9993 {
  position:absolute;
  left:1349px;
  top:613px;
  width:23px;
  height:24px;
  font-size:20px;
  color:#666666;
}
#u9994 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u9995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
}
#u9995 {
  position:absolute;
  left:1466px;
  top:613px;
  width:23px;
  height:24px;
  font-size:20px;
  color:#666666;
}
#u9996 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u9998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:98px;
  background:inherit;
  background-color:rgba(30, 139, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9998 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:98px;
}
#u9999 {
  position:absolute;
  left:2px;
  top:41px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:center;
}
#u10000 {
  position:absolute;
  left:61px;
  top:35px;
  width:151px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:center;
}
#u10001 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
#u10002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u10002 {
  position:absolute;
  left:16px;
  top:32px;
  width:35px;
  height:35px;
}
#u10003 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u10004 {
  position:absolute;
  left:1026px;
  top:0px;
  width:144px;
  height:99px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u10004_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:99px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 204, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u10004.mouseOver {
}
#u10005 {
  position:absolute;
  left:0px;
  top:40px;
  width:144px;
  word-wrap:break-word;
}
#u10006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u10006 {
  position:absolute;
  left:425px;
  top:0px;
  width:144px;
  height:99px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u10006_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:99px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 204, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u10006.mouseOver {
}
#u10007 {
  position:absolute;
  left:0px;
  top:40px;
  width:144px;
  word-wrap:break-word;
}
#u10008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u10008 {
  position:absolute;
  left:725px;
  top:0px;
  width:144px;
  height:99px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u10008_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:99px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 204, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u10008.mouseOver {
}
#u10009 {
  position:absolute;
  left:0px;
  top:40px;
  width:144px;
  word-wrap:break-word;
}
#u10010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u10010 {
  position:absolute;
  left:575px;
  top:0px;
  width:144px;
  height:99px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u10010_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:99px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 204, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u10010.mouseOver {
}
#u10011 {
  position:absolute;
  left:0px;
  top:40px;
  width:144px;
  word-wrap:break-word;
}
#u10012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u10012 {
  position:absolute;
  left:876px;
  top:0px;
  width:144px;
  height:99px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u10012_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:99px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 204, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u10012.mouseOver {
}
#u10013 {
  position:absolute;
  left:0px;
  top:40px;
  width:144px;
  word-wrap:break-word;
}
#u10014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u10014 {
  position:absolute;
  left:1176px;
  top:0px;
  width:144px;
  height:99px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u10014_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:99px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 204, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u10014.mouseOver {
}
#u10015 {
  position:absolute;
  left:0px;
  top:40px;
  width:144px;
  word-wrap:break-word;
}
#u10016 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u10017 {
  position:absolute;
  left:1800px;
  top:38px;
  width:24px;
  height:24px;
  color:#FFFFFF;
}
#u10018 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:22px;
}
#u10019 {
  position:absolute;
  left:1832px;
  top:39px;
  width:48px;
  height:22px;
  color:#FFFFFF;
  line-height:22px;
}
#u10020 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u10021 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:74px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10022 {
  position:absolute;
  left:1783px;
  top:60px;
  width:117px;
  height:74px;
}
#u10023 {
  position:absolute;
  left:2px;
  top:29px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10024 {
  position:absolute;
  left:1800px;
  top:70px;
  width:57px;
  height:16px;
}
#u10025 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u10026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10026 {
  position:absolute;
  left:1800px;
  top:96px;
  width:29px;
  height:16px;
}
#u10027 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u10029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:1000px;
  background:inherit;
  background-color:rgba(57, 61, 73, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10029 {
  position:absolute;
  left:0px;
  top:98px;
  width:239px;
  height:1000px;
}
#u10030 {
  position:absolute;
  left:2px;
  top:492px;
  width:235px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10031 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#E4E4E4;
}
#u10032 {
  position:absolute;
  left:9px;
  top:125px;
  width:214px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#E4E4E4;
}
#u10032_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#E4E4E4;
}
#u10032.mouseOver {
}
#u10033 {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  word-wrap:break-word;
}
#u10034 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#E4E4E4;
}
#u10035 {
  position:absolute;
  left:9px;
  top:175px;
  width:214px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#E4E4E4;
}
#u10035_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#E4E4E4;
}
#u10035.mouseOver {
}
#u10036 {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  word-wrap:break-word;
}
#u10037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:24px;
  background:inherit;
  background-color:rgba(0, 150, 136, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#E4E4E4;
}
#u10037 {
  position:absolute;
  left:9px;
  top:215px;
  width:214px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#E4E4E4;
}
#u10037_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:24px;
  background:inherit;
  background-color:rgba(0, 150, 136, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#E4E4E4;
}
#u10037.mouseOver {
}
#u10038 {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  word-wrap:break-word;
}
